<?xml version="1.0"?>
<!--
/**
 *
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 *  @category  BSS
 *  @package   Bss_ProductLabel
 *  @author    Extension Team
 *  @copyright Copyright (c) 2017-2018 BSS Commerce Co. ( http://bsscommerce.com )
 *  @license   http://bsscommerce.com/Bss-Commerce-License.txt
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Bss_ProductLabel::productLabelTitle" title="BssCommerce Product Label" translate="title"
             module="Bss_ProductLabel" sortOrder="10" resource="Bss_ProductLabel::manage_label"
             parent="Magento_Backend::marketing"/>
        <add id="Bss_ProductLabel::productLabel" title="Manage Label" translate="title"
             parent="Bss_ProductLabel::productLabelTitle" module="Bss_ProductLabel" sortOrder="10"
             action="productlabel/label/index" resource="Bss_ProductLabel::manage_label"/>
    </menu>
</config>